#Import Libraries

In [ ]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Import File

In [ ]:
from google.colab import files
df = files.upload()

Saving dataset_rest_V1.csv to dataset_rest_V1.csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(df['dataset_rest_V1.csv']))

df.head()

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description,coordinate
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000,20000,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...,"-6.237889691551521, 106.71691122414389"
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000,22000,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...,"-6.237889691551521, 106.71691122414389"
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000,20000,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...,"-6.237889691551521, 106.71691122414389"
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000,20000,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...,"-6.237889691551521, 106.71691122414389"
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000,22000,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...,"-6.237889691551521, 106.71691122414389"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39596 entries, 0 to 39595
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   39596 non-null  object
 1   merchant_area   39596 non-null  object
 2   category        39596 non-null  object
 3   display         39596 non-null  object
 4   product         39596 non-null  object
 5   price           39596 non-null  object
 6   discount_price  39596 non-null  int64
 7   isDiscount      39596 non-null  int64
 8   description     39596 non-null  object
 9   coordinate      39575 non-null  object
dtypes: int64(2), object(8)
memory usage: 3.0+ MB

In [ ]:
df.shape

(39596, 10)

#Check Duplicates Data

In [ ]:
df.duplicated().sum()

0

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [merchant_name, merchant_area, category, display, product, price, discount_price, isDiscount, description, coordinate]
Index: []

In [ ]:
df.drop_duplicates(keep = 'first', inplace=True)

In [ ]:
df

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description,coordinate
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000,20000,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...,"-6.237889691551521, 106.71691122414389"
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000,22000,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...,"-6.237889691551521, 106.71691122414389"
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000,20000,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...,"-6.237889691551521, 106.71691122414389"
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000,20000,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...,"-6.237889691551521, 106.71691122414389"
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000,22000,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...,"-6.237889691551521, 106.71691122414389"
...,...,...,...,...,...,...,...,...,...,...
39591,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Hazelnut Choco Milktea,70000,70000,0,1L Hazelnut Choco Milktea,"-7.442382326294656, 112.72844026387789"
39592,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Dolce Latte,80000,80000,0,1L Dolce Latte,"-7.442382326294656, 112.72844026387789"
39593,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Chocoffe,80000,80000,0,1L Chocoffe,"-7.442382326294656, 112.72844026387789"
39594,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Kopi Susu Gula Aren,85000,85000,0,1L Kopi Susu Gula Aren,"-7.442382326294656, 112.72844026387789"
39595,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Salt Caramel Machiato,85000,85000,0,1L Salt Caramel Machiato,"-7.442382326294656, 112.72844026387789"

#Checking Missing Value

In [ ]:
df.isnull().sum() #checking null values

merchant_name      0
merchant_area      0
category           0
display            0
product            0
price              0
discount_price     0
isDiscount         0
description        0
coordinate        21
dtype: int64

In [ ]:
df[df['discount_price'].notnull()] #checking not null values in discount_price

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description,coordinate
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000,20000,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...,"-6.237889691551521, 106.71691122414389"
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000,22000,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...,"-6.237889691551521, 106.71691122414389"
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000,20000,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...,"-6.237889691551521, 106.71691122414389"
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000,20000,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...,"-6.237889691551521, 106.71691122414389"
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000,22000,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...,"-6.237889691551521, 106.71691122414389"
...,...,...,...,...,...,...,...,...,...,...
39591,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Hazelnut Choco Milktea,70000,70000,0,1L Hazelnut Choco Milktea,"-7.442382326294656, 112.72844026387789"
39592,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Dolce Latte,80000,80000,0,1L Dolce Latte,"-7.442382326294656, 112.72844026387789"
39593,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Chocoffe,80000,80000,0,1L Chocoffe,"-7.442382326294656, 112.72844026387789"
39594,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Kopi Susu Gula Aren,85000,85000,0,1L Kopi Susu Gula Aren,"-7.442382326294656, 112.72844026387789"
39595,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Salt Caramel Machiato,85000,85000,0,1L Salt Caramel Machiato,"-7.442382326294656, 112.72844026387789"

As we can see above, many null values exist in the discount_price and description columns. 

But, If we check the data in the discount_price column that have a non-missing value, we can assume to fill the missing value in the discount_price table with the actual price. And we can fill the description column with "No description available"

In [ ]:
df['discount_price'] = df['discount_price'].fillna(df['price']) #filling missing value
df['description'].fillna('No description available', inplace=True) #filling missing value

df

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description,coordinate
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000,20000,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...,"-6.237889691551521, 106.71691122414389"
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000,22000,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...,"-6.237889691551521, 106.71691122414389"
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000,20000,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...,"-6.237889691551521, 106.71691122414389"
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000,20000,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...,"-6.237889691551521, 106.71691122414389"
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000,22000,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...,"-6.237889691551521, 106.71691122414389"
...,...,...,...,...,...,...,...,...,...,...
39591,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Hazelnut Choco Milktea,70000,70000,0,1L Hazelnut Choco Milktea,"-7.442382326294656, 112.72844026387789"
39592,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Dolce Latte,80000,80000,0,1L Dolce Latte,"-7.442382326294656, 112.72844026387789"
39593,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Chocoffe,80000,80000,0,1L Chocoffe,"-7.442382326294656, 112.72844026387789"
39594,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Kopi Susu Gula Aren,85000,85000,0,1L Kopi Susu Gula Aren,"-7.442382326294656, 112.72844026387789"
39595,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Salt Caramel Machiato,85000,85000,0,1L Salt Caramel Machiato,"-7.442382326294656, 112.72844026387789"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39596 entries, 0 to 39595
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   39596 non-null  object
 1   merchant_area   39596 non-null  object
 2   category        39596 non-null  object
 3   display         39596 non-null  object
 4   product         39596 non-null  object
 5   price           39596 non-null  object
 6   discount_price  39596 non-null  int64
 7   isDiscount      39596 non-null  int64
 8   description     39596 non-null  object
 9   coordinate      39575 non-null  object
dtypes: int64(2), object(8)
memory usage: 3.3+ MB

#Price Range

In [ ]:
grouped = df.groupby('merchant_name')
grouped

In [ ]:
aggregated = grouped['price'].agg(['min', 'max']).reset_index()
aggregated

               merchant_name     min    max
0              Clouds Coffee   20000  28000
1                  Mie Jeder   13000  13000
2          330 Kopi, Ciledug   15000  37000
3    369 Shanghai, Jemursari  102000  94800
4               AHA by Kudos   16500  60800
..                       ...     ...    ...
679            bebek canggih   11000   8000
680          farm.girl, SCBD  108000  96000
681             have a treat  108150  78600
682                   i CLAZ   16500   9600
683       martabak mapingkot   15000  62999

[684 rows x 3 columns]

In [ ]:
aggregated["range_harga"] = aggregated['min'].astype(str) + " - " + aggregated['max'].astype(str)
aggregated

               merchant_name     min    max     range_harga
0              Clouds Coffee   20000  28000   20000 - 28000
1                  Mie Jeder   13000  13000   13000 - 13000
2          330 Kopi, Ciledug   15000  37000   15000 - 37000
3    369 Shanghai, Jemursari  102000  94800  102000 - 94800
4               AHA by Kudos   16500  60800   16500 - 60800
..                       ...     ...    ...             ...
679            bebek canggih   11000   8000    11000 - 8000
680          farm.girl, SCBD  108000  96000  108000 - 96000
681             have a treat  108150  78600  108150 - 78600
682                   i CLAZ   16500   9600    16500 - 9600
683       martabak mapingkot   15000  62999   15000 - 62999

[684 rows x 4 columns]

In [ ]:
price_ranges = {
    'Sangat Murah': (0, 15000),
    'Murah': (15000, 40000),
    'Mahal': (40000, 100000),
    'Sangat Mahal': (100000, np.inf)
}

price_ranges.items()

dict_items([('Sangat Murah', (0, 15000)), ('Murah', (15000, 40000)), ('Mahal', (40000, 100000)), ('Sangat Mahal', (100000, inf))])

In [ ]:
def get_price_range(row):
    for category, (min_val, max_val) in price_ranges.items():
        if min_val <= row['min'] <= max_val and min_val <= row['max'] <= max_val:
            return category
    return 'Lainnya'

aggregated['kategori_harga'] = aggregated.apply(get_price_range, axis=1)
aggregated

TypeError: ignored

Import Firebase Admin

In [ ]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

# Use the application default credentials.
cred = fb.credentials.Certificate('/content/capstone-project-24570-firebase-adminsdk-s9n4k-eda9b70739.json')
cred = credentials.ApplicationDefault()

firebase_admin.initialize_app(cred)
db = firestore.client()

NameError: ignored

In [ ]:

app = fb.initialize_app()
db = firestore.client()

ValueError: ignored

Define HTTP Firebase

In [ ]:
# def main(HTTP_Arg):

# # This Section will take the data from both firestore and survey

# # %%
# #initialize firebase-admin library
#     cred = fb.credentials.Certificate('/content/capstone-project-24570-firebase-adminsdk-s9n4k-eda9b70739.json')
#     #fb.initialize_app(cred, {'databaseURL': 'https://keenam-cap0428-default-rtdb.asia-southeast1.firebasedatabase.app'})
#     # fb.initialize_app(cred, {'databaseURL': 'https://capstone-project-24570.firebaseio.com'})
#     db = firestore.client()
#     batch = db.batch()

In [ ]:
# # %%
#     #Get data from firestore. data will be taken from all documents with that contain field 'foodPreference' and 'drinkPreference' and from a collection
#     ratingVal=5
#     userID_arr=[]
#     movieID_arr=[]
#     rating_arr=[]

#     actual_user_arr=[]

#     users_collection='users'

#     docs = db.collection(users_collection).stream()

#     for doc in docs:
#         if 'foodPreference' in doc.to_dict() and 'drinkPreference' in doc.to_dict() and doc.id != '75oB05myWqAonn0HB4cF':
#             username=doc.id
#             actual_user_arr.append(username)
#             for foodname in doc.to_dict()['foodPreference']:
#                 if foodname:
#                     print(username)
#                     print(foodname)
#                     print(ratingVal)
#                     userID_arr.append(username)
#                     movieID_arr.append(foodname)
#                     rating_arr.append(ratingVal)
#             for foodname in doc.to_dict()['drinkPreference']:
#                 if foodname:
#                     print(username)
#                     print(foodname)
#                     print(ratingVal)
#                     userID_arr.append(username)
#                     movieID_arr.append(foodname)
#                     rating_arr.append(ratingVal)

Main ( For now using SIMPLE MODEL )

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Concatenate
from tensorflow.keras.losses import MeanSquaredError

# Example dataset of eating places
places = [
    {'name': 'Restaurant A', 'max': 30000.0, 'merchant_area': 'jakarta', 'category_price': 'Murah'},
    {'name': 'Restaurant B', 'max': 50000.0, 'merchant_area': 'medan', 'category_price': 'Mahal'},
    {'name': 'Restaurant C', 'max': 25000.0, 'merchant_area': 'surabaya', 'category_price': 'Sangat Murah'},
    {'name': 'Restaurant D', 'max': 80000.0, 'merchant_area': 'surabaya', 'category_price': 'Sangat Mahal'},
    # Add more eating places and their attributes
]

# Example user budget and preferences
user_budget = 30000.0
merchant_area_def = 'surabaya'

# Preprocess the data and extract relevant features
merchant_mapping = {'jakarta': 0, 'surabaya': 1, 'medan': 2}  # Map cuisine to numerical values
price_mapping = {'Sangat Murah': 0, 'Murah': 1, 'Mahal': 2, 'Sangat Mahal': 3}  # Map price range to numerical values

num_places = len(places)

# Create input layers
user_input = Input(shape=(1,), name='user_budget')
merchant_input = Input(shape=(1,), name='merchant_area_def')

# Embedding layers
price_embedding = Embedding(input_dim=3, output_dim=8, input_length=1, name='price_embedding')(user_input)
cuisine_embedding = Embedding(input_dim=3, output_dim=8, input_length=1, name='cuisine_embedding')(merchant_input)

# Flatten embeddings
price_flatten = Flatten()(price_embedding)
cuisine_flatten = Flatten()(cuisine_embedding)

# Concatenate flattened embeddings
concatenated_embeddings = Concatenate()([price_flatten, cuisine_flatten])

# Dense layers
dense1 = Dense(16, activation='relu')(concatenated_embeddings)
output = Dense(1, activation='sigmoid')(dense1)

# Create the model
model = Model(inputs=[user_input, merchant_input], outputs=output)

# Compile the model
model.compile(optimizer='adam', loss=MeanSquaredError())

# Prepare the input data
X_price = tf.constant([price_mapping[place['category_price']] for place in places], dtype=tf.int32)
X_cuisine = tf.constant([merchant_mapping[place['merchant_area']] for place in places], dtype=tf.int32)
y = tf.constant([1 if place['category_price'] == user_budget and place['merchant_area'] == merchant_area_def else 0 for place in places], dtype=tf.float32)

# Train the model
model.fit(x={'user_input': X_price, 'merchant_input': X_cuisine}, y=y, epochs=10)

# Generate recommendations
predictions = model.predict(x={'user_input': X_price, 'merchant_input': X_cuisine})
recommendations = [place['name'] for place, prediction in zip(places, predictions) if prediction > 0.5]

# Print the recommendations
print("Recommendations:")
for place in recommendations:
    print(places)

Epoch 1/10

ValueError: ignored

Send data to Firestore

In [ ]:
top_k_df.loc[top_k_df[userid_colname] == numbered_user_arr[i]].sort_values('prediction', ascending = False)


    # %%
    #get list of all valid foods and drinks
    Fooddoc = db.collection('DefaultVal').document('FoodDrink')
    PossibleFoodandDrink=Fooddoc.get().to_dict()['Food']+Fooddoc.get().to_dict()['Drink']


    # %%
    for i in range(len(actual_user_arr)):

        recommendation_dict={}
        doc_name=actual_user_arr[i]
        user_db = db.collection(users_collection).document(doc_name)
        for key in user_db.get().to_dict().keys():
            if key in PossibleFoodandDrink:
                recommendation_dict[key]=firestore.DELETE_FIELD

        df_to_convert=top_k_df.loc[top_k_df[userid_colname] == numbered_user_arr[i]].sort_values('prediction', ascending = False)

        
        for j in range(len(df_to_convert)):
            #per_recommendation_dict={}
            #per_recommendation_dict['food_name']=df_to_convert['movieID'].values[j]
            #per_recommendation_dict['rating']=df_to_convert['prediction'].values[j]
            #recommendation_arr.append(per_recommendation_dict)
            recommendation_dict[df_to_convert[item_colname].values[j]]=df_to_convert['prediction'].values[j]
        user_data_dict={'categoryRecommendation': recommendation_dict}
        #print(users_collection)
        #print(doc_name)
        #print(user_data_dict)
        #print(user_data_dict)

        batch.update(user_db,recommendation_dict)
    batch.commit()