#Import Libraries

In [ ]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Import File

In [ ]:
from google.colab import files
Train = files.upload()

Saving gofood_dataset.csv to gofood_dataset.csv

In [ ]:
import io
Train = pd.read_csv(io.BytesIO(Train['gofood_dataset.csv']))
  
Train.head()

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...

In [ ]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45195 entries, 0 to 45194
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   45195 non-null  object
 1   merchant_area   45195 non-null  object
 2   category        45195 non-null  object
 3   display         45195 non-null  object
 4   product         45195 non-null  object
 5   price           45195 non-null  float64
 6   discount_price  2738 non-null   float64
 7   isDiscount      45195 non-null  int64
 8   description     21720 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.1+ MB

In [ ]:
Train.shape

(45195, 9)

#Check Duplicates Data

In [ ]:
Train.duplicated().sum()

5547

In [ ]:
Train[Train.duplicated()]

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
727,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Bebek,Bebek Goreng,35850.0,NaN,0,Potongan bebek yang digoreng
728,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Bebek,Bebek Belur Cabe Ijo,36850.0,NaN,0,Potongan bebek yang digoreng lalu dipenyet dan...
729,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Bebek,Bebek Bakar Bumbu Rica,36850.0,NaN,0,potongan bebek yang dibakar dengan bumbu rica
730,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Bebek,Bebek Bakar Kacang,39263.0,NaN,0,Bebek Yg Dibakar Dengan Bumbu Kacang
731,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Ayam Kota,Ayam Kota Goreng,19687.0,NaN,0,Potongan ayam yang digoreng
...,...,...,...,...,...,...,...,...,...
44683,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Soda Dan Mojito,Tropical Blue Mojito,22500.0,NaN,0,NaN
44684,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Soda Dan Mojito,Arizona Sunset,22500.0,NaN,0,NaN
44685,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Soda Dan Mojito,Blue Sky,21250.0,NaN,0,NaN
44686,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Soda Dan Mojito,Lemon Smoothies,22500.0,NaN,0,NaN
44687,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Nasi,Nasi Putih,9250.0,6250.0,1,NaN

In [ ]:
Train.drop_duplicates(keep = 'first', inplace=True)

In [ ]:
Train

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...
...,...,...,...,...,...,...,...,...,...
45190,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Hazelnut Choco Milktea,70000.0,NaN,0,1L Hazelnut Choco Milktea
45191,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Dolce Latte,80000.0,NaN,0,1L Dolce Latte
45192,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Chocoffe,80000.0,NaN,0,1L Chocoffe
45193,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Kopi Susu Gula Aren,85000.0,NaN,0,1L Kopi Susu Gula Aren
45194,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Salt Caramel Machiato,85000.0,NaN,0,1L Salt Caramel Machiato

#Checking Missing Value

In [ ]:
Train.isnull().sum() #checking null values

merchant_name         0
merchant_area         0
category              0
display               0
product               0
price                 0
discount_price    37061
isDiscount            0
description       19925
dtype: int64

In [ ]:
Train[Train['discount_price'].notnull()] #checking not null values in discount_price

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
259,Ayam Trolok,jakarta,Aneka nasi/Ayam & bebek/Seafood,MENU TROLOK,Ayam Full,100000.0,80000.0,1,NaN
261,Ayam Trolok,jakarta,Aneka nasi/Ayam & bebek/Seafood,MENU TROLOK,Ayam Dada,25000.0,20000.0,1,NaN
262,Ayam Trolok,jakarta,Aneka nasi/Ayam & bebek/Seafood,MENU TROLOK,Ayam Paha,25000.0,20000.0,1,NaN
276,BABAKARAN BUNDA DAFA,jakarta,Minuman/Jajanan/Martabak,babakaran,Sosis Kecil Bakar/ Goreng,6000.0,5400.0,1,tersedia Rasa Barbeque/Pedas
277,BABAKARAN BUNDA DAFA,jakarta,Minuman/Jajanan/Martabak,babakaran,Sosis Bakar/Goreng Jumbo,20000.0,18000.0,1,Tersedia Rasa Baberque/Pedas
...,...,...,...,...,...,...,...,...,...
45012,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Alacarte,Ayam Crispy/Fried Chicken YASAKA (Dada/Paha Atas),15500.0,12500.0,1,Ayam Crispy Bagian Dada/Paha Atas
45013,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Alacarte,Ayam Crispy/Fried Chicken YASAKA (Sayap/Paha B...,13000.0,10000.0,1,Ayam Crispy Bagian Sayap/Paha Bawah
45014,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Yummy Snack,Sosis Crispy Yasaka,12000.0,9000.0,1,Buat Pecinta Snack Sosis Ini Cocok Banget Deng...
45015,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Yummy Snack,Chicken Nugget Yasaka,12000.0,9000.0,1,Sekali Gigit Pasti Gabisa Berhenti Nyemilin Ch...
45016,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Yummy Snack,Kentang Goreng Yasaka,12000.0,9000.0,1,Menu Makan Mu Makin Lengkap Dengan Di Tambah K...

As we can see above, many null values exist in the discount_price and description columns. 

But, If we check the data in the discount_price column that have a non-missing value, we can assume to fill the missing value in the discount_price table with the actual price. And we can fill the description column with "No description available"

In [ ]:
Train['discount_price'] = Train['discount_price'].fillna(Train['price']) #filling missing value
Train['description'].fillna('No description available', inplace=True) #filling missing value

Train

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,20000.0,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,22000.0,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,20000.0,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,20000.0,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,22000.0,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...
...,...,...,...,...,...,...,...,...,...
45190,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Hazelnut Choco Milktea,70000.0,70000.0,0,1L Hazelnut Choco Milktea
45191,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Dolce Latte,80000.0,80000.0,0,1L Dolce Latte
45192,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Chocoffe,80000.0,80000.0,0,1L Chocoffe
45193,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Kopi Susu Gula Aren,85000.0,85000.0,0,1L Kopi Susu Gula Aren
45194,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Salt Caramel Machiato,85000.0,85000.0,0,1L Salt Caramel Machiato

In [ ]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39648 entries, 0 to 45194
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   39648 non-null  object
 1   merchant_area   39648 non-null  object
 2   category        39648 non-null  object
 3   display         39648 non-null  object
 4   product         39648 non-null  object
 5   price           39648 non-null  float64
 6   discount_price  39648 non-null  float64
 7   isDiscount      39648 non-null  int64
 8   description     39648 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.0+ MB

#Filtering Data

In [ ]:
item = Train[Train['merchant_area'] == 'jakarta']
item

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,20000.0,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,22000.0,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,20000.0,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,20000.0,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,22000.0,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...
...,...,...,...,...,...,...,...,...,...
14023,"Ya'mbok, Jatimelati",jakarta,Ayam & bebek,Extra,Saus Sambal Matah,8000.0,8000.0,0,No description available
14024,"Ya'mbok, Jatimelati",jakarta,Ayam & bebek,Extra,Saus Bbq,8000.0,8000.0,0,No description available
14025,"Ya'mbok, Jatimelati",jakarta,Ayam & bebek,Extra,Saus Cheese,8000.0,8000.0,0,No description available
14026,"Ya'mbok, Jatimelati",jakarta,Ayam & bebek,Extra,Saus Blackpapper,8000.0,8000.0,0,No description available
14027,"Ya'mbok, Jatimelati",jakarta,Ayam & bebek,Extra,Nasi Putih,8000.0,8000.0,0,No description available

In [ ]:
from google.colab import files
user = files.upload()

Saving survei.xlsx to survei.xlsx

In [ ]:
import io
user = pd.read_excel('survei.xlsx', sheet_name='Sheet1')
user

,Siapa namamu?,Umur,Rumahmu dimana nih?,Berapa uang yang dihabiskan untuk makan dalam sehari
0,Memory become billion.,> 40 Tahun,Surabaya,40000 - 100000
1,Although television plant.,10 - 20 Tahun,Jakarta,15000 - 40000
2,President treat serious dark support friend drug.,20 - 30 Tahun,Medan,< 15000
3,Concern hospital mind office.,> 40 Tahun,Medan,40000 - 100000
4,Above voice beyond example consider represent.,20 - 30 Tahun,Surabaya,> 100000
...,...,...,...,...
195,Fine similar eat whole effort adult wrong.,20 - 30 Tahun,Jakarta,< 15000
196,Thought structure prove.,20 - 30 Tahun,Medan,15000 - 40000
197,Director notice team fund.,<10 Tahun,Surabaya,15000 - 40000
198,Keep bit technology upon.,10 - 20 Tahun,Surabaya,> 100000
199,Authority success share my red enter.,10 - 20 Tahun,Surabaya,15000 - 40000

In [ ]:
user.rename(columns={'Siapa namamu?': 'Name'}, inplace=True)
user.rename(columns={'Rumahmu dimana nih?': 'Kota'}, inplace=True)
user.rename(columns={'Berapa uang yang dihabiskan untuk makan dalam sehari': 'Budget'}, inplace=True)

In [ ]:
user

,Name,Umur,Kota,Budget
0,Memory become billion.,> 40 Tahun,Surabaya,40000 - 100000
1,Although television plant.,10 - 20 Tahun,Jakarta,15000 - 40000
2,President treat serious dark support friend drug.,20 - 30 Tahun,Medan,< 15000
3,Concern hospital mind office.,> 40 Tahun,Medan,40000 - 100000
4,Above voice beyond example consider represent.,20 - 30 Tahun,Surabaya,> 100000
...,...,...,...,...
195,Fine similar eat whole effort adult wrong.,20 - 30 Tahun,Jakarta,< 15000
196,Thought structure prove.,20 - 30 Tahun,Medan,15000 - 40000
197,Director notice team fund.,<10 Tahun,Surabaya,15000 - 40000
198,Keep bit technology upon.,10 - 20 Tahun,Surabaya,> 100000
199,Authority success share my red enter.,10 - 20 Tahun,Surabaya,15000 - 40000

In [ ]:
user_fil = user[user['Kota'] == 'Jakarta']

,Name,Umur,Kota,Budget
1,Although television plant.,10 - 20 Tahun,Jakarta,15000 - 40000
8,Court hospital last wife pull process.,10 - 20 Tahun,Jakarta,40000 - 100000
11,Establish admit follow good network.,10 - 20 Tahun,Jakarta,> 100000
14,Compare something couple skin management believe.,10 - 20 Tahun,Jakarta,15000 - 40000
17,Cost develop service field store wish.,20 - 30 Tahun,Jakarta,40000 - 100000
...,...,...,...,...
182,As popular challenge cover project meet down.,20 - 30 Tahun,Jakarta,< 15000
185,Require approach anything technology.,> 40 Tahun,Jakarta,> 100000
193,Source point food understand sell final morning.,> 40 Tahun,Jakarta,< 15000
194,Lawyer knowledge arm.,20 - 30 Tahun,Jakarta,> 100000
195,Fine similar eat whole effort adult wrong.,20 - 30 Tahun,Jakarta,< 15000

In [ ]:
kota_mapping = {'Sangat Murah': 0, 'Murah': 1, 'Mahal': 2, 'Sangat Mahal' : 3, 'Lainnya' : 4}
budget_mapping = {'Jakarta' : 0, 'Medan' : '1', 'Surabaya' : 2}

user_fil['Kota'] = user_fil['Kota'].map(kota_mapping)
user_fil['Budget'] = user_fil['Budget'].map(budget_mapping)

NameError: ignored

#Price Range

In [ ]:
grouped = Train.groupby('merchant_name')
grouped

In [ ]:
aggregated = grouped['price'].agg(['min', 'max']).reset_index()
aggregated

In [ ]:
aggregated["range_harga"] = aggregated['min'].astype(str) + " - " + aggregated['max'].astype(str)
aggregated

In [ ]:
price_ranges = {
    'Sangat Murah': (0, 15000),
    'Murah': (15000, 40000),
    'Mahal': (40000, 100000),
    'Sangat Mahal': (100000, np.inf)
}

price_ranges.items()

In [ ]:
def get_price_range(row):
    for category, (min_val, max_val) in price_ranges.items():
        if min_val <= row['min'] <= max_val and min_val <= row['max'] <= max_val:
            return category
    return 'Lainnya'

aggregated['kategori_harga'] = aggregated.apply(get_price_range, axis=1)
aggregated

In [ ]:
aggregated['merchant_area'] = Train['merchant_area']
aggregated

In [ ]:
kategori_mapping = {'Sangat Murah': 0, 'Murah': 1, 'Mahal': 2, 'Sangat Mahal' : 3, 'Lainnya' : 4}
area_mapping = {'Jakarta' : 0, 'Medan' : '1', 'Surabaya' : 2}

aggregated['kategori_harga'] = aggregated['kategori_harga'].map(kategori_mapping)
aggregated['merchant_area'] = aggregated['merchant_area'].map(area_mapping)