#Import Libraries

In [ ]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Import File

In [ ]:
from google.colab import files
df = files.upload()

Saving gofood_dataset.csv to gofood_dataset.csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(df['gofood_dataset.csv']))

df.head()

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45195 entries, 0 to 45194
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   45195 non-null  object
 1   merchant_area   45195 non-null  object
 2   category        45195 non-null  object
 3   display         45195 non-null  object
 4   product         45195 non-null  object
 5   price           45195 non-null  float64
 6   discount_price  2738 non-null   float64
 7   isDiscount      45195 non-null  int64
 8   description     21720 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.1+ MB

In [ ]:
df.shape

(45195, 9)

#Check Duplicates Data

In [ ]:
df.duplicated().sum()

5547

In [ ]:
df[df.duplicated()]

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
727,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Bebek,Bebek Goreng,35850.0,NaN,0,Potongan bebek yang digoreng
728,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Bebek,Bebek Belur Cabe Ijo,36850.0,NaN,0,Potongan bebek yang digoreng lalu dipenyet dan...
729,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Bebek,Bebek Bakar Bumbu Rica,36850.0,NaN,0,potongan bebek yang dibakar dengan bumbu rica
730,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Bebek,Bebek Bakar Kacang,39263.0,NaN,0,Bebek Yg Dibakar Dengan Bumbu Kacang
731,"Bebek Boedjang, BSD",jakarta,Seafood/Aneka nasi/Ayam & bebek,Ayam Kota,Ayam Kota Goreng,19687.0,NaN,0,Potongan ayam yang digoreng
...,...,...,...,...,...,...,...,...,...
44683,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Soda Dan Mojito,Tropical Blue Mojito,22500.0,NaN,0,NaN
44684,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Soda Dan Mojito,Arizona Sunset,22500.0,NaN,0,NaN
44685,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Soda Dan Mojito,Blue Sky,21250.0,NaN,0,NaN
44686,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Soda Dan Mojito,Lemon Smoothies,22500.0,NaN,0,NaN
44687,Warung Pindo,surabaya,Aneka nasi/Chinese/Seafood,Nasi,Nasi Putih,9250.0,6250.0,1,NaN

In [ ]:
df.drop_duplicates(keep = 'first', inplace=True)

In [ ]:
df

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...
...,...,...,...,...,...,...,...,...,...
45190,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Hazelnut Choco Milktea,70000.0,NaN,0,1L Hazelnut Choco Milktea
45191,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Dolce Latte,80000.0,NaN,0,1L Dolce Latte
45192,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Chocoffe,80000.0,NaN,0,1L Chocoffe
45193,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Kopi Susu Gula Aren,85000.0,NaN,0,1L Kopi Susu Gula Aren
45194,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Salt Caramel Machiato,85000.0,NaN,0,1L Salt Caramel Machiato

#Checking Missing Value

In [ ]:
df.isnull().sum() #checking null values

merchant_name         0
merchant_area         0
category              0
display               0
product               0
price                 0
discount_price    37061
isDiscount            0
description       19925
dtype: int64

In [ ]:
df[df['discount_price'].notnull()] #checking not null values in discount_price

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
259,Ayam Trolok,jakarta,Aneka nasi/Ayam & bebek/Seafood,MENU TROLOK,Ayam Full,100000.0,80000.0,1,NaN
261,Ayam Trolok,jakarta,Aneka nasi/Ayam & bebek/Seafood,MENU TROLOK,Ayam Dada,25000.0,20000.0,1,NaN
262,Ayam Trolok,jakarta,Aneka nasi/Ayam & bebek/Seafood,MENU TROLOK,Ayam Paha,25000.0,20000.0,1,NaN
276,BABAKARAN BUNDA DAFA,jakarta,Minuman/Jajanan/Martabak,babakaran,Sosis Kecil Bakar/ Goreng,6000.0,5400.0,1,tersedia Rasa Barbeque/Pedas
277,BABAKARAN BUNDA DAFA,jakarta,Minuman/Jajanan/Martabak,babakaran,Sosis Bakar/Goreng Jumbo,20000.0,18000.0,1,Tersedia Rasa Baberque/Pedas
...,...,...,...,...,...,...,...,...,...
45012,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Alacarte,Ayam Crispy/Fried Chicken YASAKA (Dada/Paha Atas),15500.0,12500.0,1,Ayam Crispy Bagian Dada/Paha Atas
45013,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Alacarte,Ayam Crispy/Fried Chicken YASAKA (Sayap/Paha B...,13000.0,10000.0,1,Ayam Crispy Bagian Sayap/Paha Bawah
45014,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Yummy Snack,Sosis Crispy Yasaka,12000.0,9000.0,1,Buat Pecinta Snack Sosis Ini Cocok Banget Deng...
45015,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Yummy Snack,Chicken Nugget Yasaka,12000.0,9000.0,1,Sekali Gigit Pasti Gabisa Berhenti Nyemilin Ch...
45016,"Yasaka Fried Chicken, Sukolegok",surabaya,Aneka nasi/Ayam & bebek/Cepat saji,Yummy Snack,Kentang Goreng Yasaka,12000.0,9000.0,1,Menu Makan Mu Makin Lengkap Dengan Di Tambah K...

As we can see above, many null values exist in the discount_price and description columns. 

But, If we check the data in the discount_price column that have a non-missing value, we can assume to fill the missing value in the discount_price table with the actual price. And we can fill the description column with "No description available"

In [ ]:
df['discount_price'] = df['discount_price'].fillna(df['price']) #filling missing value
df['description'].fillna('No description available', inplace=True) #filling missing value

df

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,20000.0,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,22000.0,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,20000.0,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,20000.0,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,22000.0,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...
...,...,...,...,...,...,...,...,...,...
45190,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Hazelnut Choco Milktea,70000.0,70000.0,0,1L Hazelnut Choco Milktea
45191,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Dolce Latte,80000.0,80000.0,0,1L Dolce Latte
45192,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Chocoffe,80000.0,80000.0,0,1L Chocoffe
45193,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Kopi Susu Gula Aren,85000.0,85000.0,0,1L Kopi Susu Gula Aren
45194,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Salt Caramel Machiato,85000.0,85000.0,0,1L Salt Caramel Machiato

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39648 entries, 0 to 45194
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   39648 non-null  object
 1   merchant_area   39648 non-null  object
 2   category        39648 non-null  object
 3   display         39648 non-null  object
 4   product         39648 non-null  object
 5   price           39648 non-null  float64
 6   discount_price  39648 non-null  float64
 7   isDiscount      39648 non-null  int64
 8   description     39648 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.0+ MB

#Price Range

In [ ]:
grouped = df.groupby('merchant_name')
grouped

In [ ]:
aggregated = grouped['price'].agg(['min', 'max'])
aggregated

                             min       max
merchant_name
 Clouds Coffee           20000.0   28000.0
 Mie Jeder               13000.0   13000.0
330 Kopi, Ciledug        15000.0   37000.0
369 Shanghai, Jemursari  10800.0  145200.0
AHA by Kudos             16500.0   60800.0
...                          ...       ...
bebek canggih             6000.0   43000.0
farm.girl, SCBD          12000.0  180000.0
have a treat             27500.0  139650.0
i CLAZ                    9600.0   55000.0
martabak mapingkot       15000.0   62999.0

[687 rows x 2 columns]

In [ ]:
price_ranges = {
    'Sangat Murah': (0, 15000),
    'Murah': (15000, 40000),
    'Mahal': (40000, 100000),
    'Sangat Mahal': (100000, np.inf)
}

price_ranges.items()

dict_items([('Sangat Murah', (0, 15000)), ('Murah', (15000, 40000)), ('Mahal', (40000, 100000)), ('Sangat Mahal', (100000, inf))])

In [ ]:
def get_price_range(row):
    for category, (min_val, max_val) in price_ranges.items():
        if min_val <= row['min'] <= max_val and min_val <= row['max'] <= max_val:
            return category
    return 'Lainnya'

aggregated['kategori_harga'] = aggregated.apply(get_price_range, axis=1)
aggregated

                             min       max kategori_harga
merchant_name
 Clouds Coffee           20000.0   28000.0          Murah
 Mie Jeder               13000.0   13000.0   Sangat Murah
330 Kopi, Ciledug        15000.0   37000.0          Murah
369 Shanghai, Jemursari  10800.0  145200.0        Lainnya
AHA by Kudos             16500.0   60800.0        Lainnya
...                          ...       ...            ...
bebek canggih             6000.0   43000.0        Lainnya
farm.girl, SCBD          12000.0  180000.0        Lainnya
have a treat             27500.0  139650.0        Lainnya
i CLAZ                    9600.0   55000.0        Lainnya
martabak mapingkot       15000.0   62999.0        Lainnya

[687 rows x 3 columns]